.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
    background-color: #89D388;
} button:disabled {
    background-color: #EFEFEF4D;
}

h3 {
    text-align: center;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */


/* Add the 'nearMaxMass' class style here: */
.nearMaxMass {
    font-style: italic;
    color: red;
}